In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

df = pd.date_range(start= '11/01/2019', end='11/07/2019', freq='H')
df

DatetimeIndex(['2019-11-01 00:00:00', '2019-11-01 01:00:00',
               '2019-11-01 02:00:00', '2019-11-01 03:00:00',
               '2019-11-01 04:00:00', '2019-11-01 05:00:00',
               '2019-11-01 06:00:00', '2019-11-01 07:00:00',
               '2019-11-01 08:00:00', '2019-11-01 09:00:00',
               ...
               '2019-11-06 15:00:00', '2019-11-06 16:00:00',
               '2019-11-06 17:00:00', '2019-11-06 18:00:00',
               '2019-11-06 19:00:00', '2019-11-06 20:00:00',
               '2019-11-06 21:00:00', '2019-11-06 22:00:00',
               '2019-11-06 23:00:00', '2019-11-07 00:00:00'],
              dtype='datetime64[ns]', length=145, freq='H')

In [2]:
len(df)

145

In [3]:
df = pd.DataFrame(df, columns=['date'])
df['sales'] = np.random.randint(0,1000,size=len(df))
df.head()

                 date  sales
0 2019-11-01 00:00:00    868
1 2019-11-01 01:00:00    839
2 2019-11-01 02:00:00    373
3 2019-11-01 03:00:00    258
4 2019-11-01 04:00:00    639

In [4]:
df = df.set_index('date')
df.head()

                     sales
date
2019-11-01 00:00:00    868
2019-11-01 01:00:00    839
2019-11-01 02:00:00    373
2019-11-01 03:00:00    258
2019-11-01 04:00:00    639

In [5]:
df.loc['2019-11-01 03:00:00', 'sales']

258

In [6]:
df.loc['2019-11-01']

                     sales
date
2019-11-01 00:00:00    868
2019-11-01 01:00:00    839
2019-11-01 02:00:00    373
2019-11-01 03:00:00    258
2019-11-01 04:00:00    639
2019-11-01 05:00:00    373
2019-11-01 06:00:00     65
2019-11-01 07:00:00    121
2019-11-01 08:00:00    970
2019-11-01 09:00:00    499
2019-11-01 10:00:00    137
2019-11-01 11:00:00    196
2019-11-01 12:00:00    647
2019-11-01 13:00:00    912
2019-11-01 14:00:00    779
2019-11-01 15:00:00    182
2019-11-01 16:00:00    862
2019-11-01 17:00:00    952
2019-11-01 18:00:00    198
2019-11-01 19:00:00    451
2019-11-01 20:00:00    598
2019-11-01 21:00:00     16
2019-11-01 22:00:00    779
2019-11-01 23:00:00    998

In [7]:
df.resample('D').mean()

                 sales
date
2019-11-01  529.666667
2019-11-02  522.041667
2019-11-03  467.083333
2019-11-04  405.041667
2019-11-05  488.625000
2019-11-06  483.208333
2019-11-07  241.000000

In [8]:
df.resample('D').sum()

            sales
date
2019-11-01  12712
2019-11-02  12529
2019-11-03  11210
2019-11-04   9721
2019-11-05  11727
2019-11-06  11597
2019-11-07    241

In [9]:
#downSampling = splitting to every minute
df.resample('T').mean()

                     sales
date
2019-11-01 00:00:00  868.0
2019-11-01 00:01:00    NaN
2019-11-01 00:02:00    NaN
2019-11-01 00:03:00    NaN
2019-11-01 00:04:00    NaN
...                    ...
2019-11-06 23:56:00    NaN
2019-11-06 23:57:00    NaN
2019-11-06 23:58:00    NaN
2019-11-06 23:59:00    NaN
2019-11-07 00:00:00  241.0

[8641 rows x 1 columns]

In [10]:
# Resampling frequencies
# 'min', 'T' - minute
# ‘H’ - hour
# ‘D’ - day
# ‘B’ - business day
# ‘W’ - week
# ‘M’ - month
# ‘Q’ - quarter
# ‘A’ - year

In [11]:
#Parsing dates = if date, time are not in correct time stamp notation 

df = pd.DataFrame({'year': [2015,2016],
                   'month': [2,3],
                   'day': [4,5]})
df

   year  month  day
0  2015      2    4
1  2016      3    5

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    2 non-null      int64
 1   month   2 non-null      int64
 2   day     2 non-null      int64
dtypes: int64(3)
memory usage: 176.0 bytes

In [13]:
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [14]:
pd.to_datetime('20190101', format='%Y%m%d', errors='ignore')

Timestamp('2019-01-01 00:00:00')

In [16]:
pd.to_datetime('2019-01-01', format='%Y-%m-%d', errors='ignore')

Timestamp('2019-01-01 00:00:00')